{% extends "base.html" %}

{% block title %} news pages {% endblock title %}

{% block content %}

<div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        From the Firehose
      </h3>

      {% for i in news %}
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <img src="{{ i.image.url }}" alt="{{ i.title }}" style="width: 100%;height: 100%;object-fit: contain;">
       <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary-emphasis">{{ i.category.category }}</strong>
         <h3 class="mb-0">{{ i.title }}</h3>
         <div class="mb-1 text-body-secondary">{{ i.tanggal }}</div>(views:{{i.total_views}})
         <p class="card-text mb-auto">{{ i.deskripsi|truncatewords:40|safe }}</p>
         <a href="" class="icon-link gap-1 icon-link-hover stretched-link">
         <a href="{% url 'home.news_detail' i.slug %}" class="icon-link gap-1 icon-link-hover stretched-link">
           Continue reading
           <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
         </a>
       </div>
     </div>
      {% endfor %}
     <nav class="blog-pagination" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
      </nav>
    </div>
    <div class="col-md-4">
      {% include 'sidebar_kanan.html' %}
    </div>
  </div>

  {% endblock  %}