{% extends "base.html"%}

{% block title %} category create {% endblock title %}

{% block content %}
<h2>{{title}}</h2>
<a href="{%url 'category.index'%}" class="btn btn-outline-primary btn-sm">BACK</a>

    <form action ="" method="POST">
        {%csrf_token%}
        {% for field in form%}
            <div style ="margin-bottom:10px;">
                {{field.label_tag}} {{field}}
                <small> {{field.errors}}</small>
                </div>
            {% endfor %}

        
        <input type="submit" value="submit">
        
      </form>
{% endblock content %}
      